.about {
	max-height: 100vh;

	@media screen and (max-width: 475px) {
		max-height: unset;
	}

	&__image {
		width: 190px;
		height: 190px;
		border-radius: 50%;
	}

	&__title {
		color: $grey;
		font-size: 34px;
		line-height: 47px;
		padding: 20px 0 70px;

		@media screen and (max-width: 475px) {
			padding: 20px 0 32px;
			align-self: flex-start;
		}
	}

	&__content {
		display: flex;
		flex-flow: column wrap;
		max-height: 700px;

		.content-block {
			width: 25%;

			&:first-of-type {
				width: 75%;
				height: 100%;
				padding-right: 60px;

				@media screen and (max-width: 475px) {
					width: 100%;
					height: auto;
					padding: 0;
				}
			}

			@media screen and (max-width: 475px) {
				width: 100%;
				padding: 0;
			}
		}

		
		@media screen and (max-width: 475px) {
			flex-wrap: nowrap;
			align-items: center;
			height: auto;
			max-height: auto;
		}
	}

	a {
		i {
			font-size: 32px;
			color: $grey;

			&:hover {
				color: $pink;
				cursor: pointer;
			}
		}
	}
}
