.about {
	max-height: 100vh;

	&__image {
		width: 190px;
		height: 190px;
		border-radius: 50%;
	}

	&__title {
		color: $grey;
		font-size: 34px;
		line-height: 47px;
		padding: 20px 0 70px;
	}

	&__content {
		display: flex;
		flex-flow: column wrap;
		max-height: 700px;

		.content-block {
			width: 25%;

			&:first-of-type {
				width: 75%;
				height: 100%;
				padding-right: 60px;
			}
		}
	}

	a {
		i {
			font-size: 32px;
			color: $grey;

			&:hover {
				color: $pink;
				cursor: pointer;
			}
		}
	}
}
