@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

//variables
$pink:           #FF1F6D;
$grey:           #2C2C2D;
$white:          #FFFFFF;
$black:          #000000;

$saxumBlueLight: #11D1D1;
$saxumBlueDark:  #042678;
$saxumBlue:      #0931DB;

$poppins: 'Poppins', sans-serif;
$roboto:  'Roboto', sans-serif;


* {
	font-family: $roboto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

html {
	width: 100%;
}

.body {
	width: 100%;
	
	&--noscroll {
		overflow: hidden;
	}
}

.noscroll {
	overflow: hidden;
}

.section {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px calc(50% - 450px);

	@media screen and (max-width: 475px) {
		padding: 32px 24px;
	}
}

.heading {
	&--1 {
		font-family: $poppins;
		font-weight: 800;
		color: white;
		font-size: 130px;
		line-height: 213px;
		user-select: none;

		@media screen and (max-width: 475px) {
			font-size: 49px;
			line-height: 81px;
		}
	}
}

h1, h2, h3, .title {
	font-family: $poppins;
	font-weight: 800;
}

.dot {
	font-family: 'Montserrat', sans-serif;
}

.text {
	p {
		color: $grey;
	}
}

a {
	&:hover, &:link, &:active, &:visited {
		text-decoration: none;
	}
}

/* ----------------------------- */
// * {
// 	/* css debugger */
// 	background: #000 !important;
// 	color: #0f0 !important;
// 	outline : 2px solid #f00;
// }
/* ----------------------------- */
